* {
    display: flexbox;
}

body {
    max-width: 1440px;
}

main {
    border: 2px solid black;
    margin: auto;
    padding-top: 5vh;
    width: 50%;
}

hr {
    border-color: black;
    margin-left: 10%;
    width: 50%;
}

p {
    margin-top: 1vh;
    margin-bottom: 0;
}

address {
    margin-top: 1vh;
}

.green {
    background: linear-gradient(to right, rgb(27, 121, 4) , rgb(108, 245, 90));
    background-clip: text;
    color: transparent;
    margin-top: 2vh;
}

.blue {
    background: linear-gradient(to right, rgb(29, 82, 255) , rgb(157, 244, 255));
    background-clip: text;
    color: transparent;
}

.cv {
    margin-left: 10%;
}

.websites {
    margin-bottom: 10%;
}